@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: "Helvetica";
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.activity-container{
  display:flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}