.park-info-header{
    background-color: #00A170;
    display: flex;
    height: 400px;
    position: relative;
}
.parkInfo-textDiv{
    position: absolute;
    bottom: 0px;
    left: 30px;
    color: white;
    font-size: 30px;
}
.header-contact{
    line-height: 3px;
    position:absolute;
    bottom: 0px;
    right: 30px;
    top: 10px;
    text-align: center;
    border-radius: 20px;
    border-style: groove;
    color: white;
    max-height: fit-content;
    padding: 5px;

}